*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/home/jay-raghuvanshi/Downloads/attendanceapp-b84b6-firebase-adminsdk-fbsvc-8154f5c432.json